<h2>Create a New Form</h2>

<form [formGroup]="mainFormFormGroup">
    <formly-form [form]="mainFormFormGroup" [fields]="mainFormFields" [model]="mainFormModel"></formly-form>
    <br><br>
    <button type="button" class="btn btn-default" (click)="addNewField()">Add Field</button>
    <br><br>
    
</form>

<form *ngFor="let addedField of addedFields" [formGroup]="addedField.formGroup">
    <formly-form [form]="addedField.formGroup" [fields]="addedField.formFields" [model]="addedField.model"></formly-form>
    <br><br>
</form>

<button class="btn btn-default" (click)="submit()">Submit</button>